<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/hibernate1?createDatabaseIfNotExist=true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.discriminator.ignore_explicit_for_joined">true</property>


        <mapping class="com.easyum.hibernate.recipe1.Book1"/>
        <mapping class="com.easyum.hibernate.recipe1.Chapter1"/>

        <mapping class="com.easyum.hibernate.recipe1.Book1Embedded"/>

        <mapping class="com.easyum.hibernate.recipe2.Book2"/>
        <mapping resource="com/easyum/hibernate/Book2IdBag.hbm.xml"/>

        <mapping class="com.easyum.hibernate.recipe4.Book4"/>

        <mapping class="com.easyum.hibernate.recipe5.Book5"/>

        <mapping class="com.easyum.hibernate.recipe6.Book6NaturalSorting"/>
        <mapping class="com.easyum.hibernate.recipe6.Book6InvertedSorting"/>
        <mapping class="com.easyum.hibernate.recipe6.Book6DatabaseSorting"/>

        <mapping class="com.easyum.hibernate.recipe7.Book7"/>
    </session-factory>
</hibernate-configuration>